.btn {
  background-color: $color-green;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 6px $color-primary, 0.3;
  color: $color-black;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  margin: 2rem 2rem;
  transition: 0.2s;

}
.btn:hover {
  transform: scale(1.1);
  background-color: $color-white;
  box-shadow: 0 0 30px $color-green;
}

.btn:active {
  box-shadow: 0 0 30px $color-primary;

}