.final__score {
  font-size: 5rem;
  margin: 4rem;
  line-height: 4rem;
  background-color: $color-white;
  box-shadow: 0 0 30px $color-green;
  border-radius: 2rem;
  font-weight: bold;
  padding: 2rem;
}